body {
	background-color: black;
	font-family: ariel;
	color: white;
}
h1 {
	color: gray;
	font-family: Verdana;
}

.maindiv {
	background-color: white;
	color: black;
	width: 300;
	padding: 20px;
	border-radius: 25px;
	align-items: center;
}
